* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    font-family: system-ui, sans-serif;
}

main {
    display: grid;
    min-height: 100vh;
    place-items: center;
}
